* {
  box-sizing: border-box;
  font: 400 14px "Gotham Pro", "Proxima Nova", Arial, serif;
  line-height: 1;
  outline: 0;
}

html {
  font: 400 14px "Gotham Pro", "Proxima Nova", Arial, serif;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  background-color: #eaeae9;
}

div {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  display: block;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  box-shadow: none;
  text-shadow: none;
  background: 0 0;
  padding: 0;
  margin: 0;
  border: none;
}

html,
body,
.workbench {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.loading {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.loading > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  gap: 10px;
}

.inspector {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 35%;
  overflow-y: auto;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
}

.main-logo {
  z-index: 888;
  position: absolute;
  width: 100px;
  height: auto;
  bottom: 5px;
  right: 5px;
}
.inspector {
  padding: 10px 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  gap: 10px;
}
.inspector .info {
  text-align: center;
}
.inspector .mini-btn {
  height: 50px;
}
.inspector .delete-btn {
  width: 150px;
  margin-left: auto;
}
.inspector .title {
  text-transform: uppercase;
  font-weight: 900;
  color: #bd1622;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.inspector .options {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 15px;
  gap: 10px;
}
.inspector .options .btn-parent {
  -webkit-box-flex: 1;
          flex: 1;
}
.inspector .intensity {
  padding: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 9px;
  height: 18px;
}
.inspector .intensity .intensity-bg {
  position: relative;
  height: 100%;
  border-radius: 10px;
  background: white;
}
.inspector .intensity .intensity-bg .intensity-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to top, #8ae700, #33bb02);
}
.map {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: white;
}
.map .item {
  position: absolute;
  cursor: pointer;
}
.map .item:not(.headset).selected::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: 50%;
  border: 4px solid #33bb02;
}
.map .fire {
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#1e1ca4), to(#4238cd));
  background: linear-gradient(to right, #1e1ca4, #4238cd);
  border: 1px solid #151379;
  border-radius: 50%;
}
.map .fire.started {
  background: -webkit-gradient(linear, left top, right top, from(#a60e0f), to(#e13231));
  background: linear-gradient(to right, #a60e0f, #e13231);
  border: 1px solid #dc0000;
}
.map .door {
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#11e3ff), to(#138999));
  background: linear-gradient(to right, #11e3ff, #138999);
  border: 1px solid #138999;
  border-radius: 50%;
}
.map .door.started {
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
  border: 1px solid #599400;
}
.map .btn-alarm {
  background: -webkit-gradient(linear, left top, right top, from(#bc4c00), to(#fe7416));
  background: linear-gradient(to right, #bc4c00, #fe7416);
  border: 1px solid #f06710;
  border-radius: 50%;
}
.map .btn-alarm.triggered {
  border: 1px solid #bbbb03;
  background: -webkit-gradient(linear, left top, right top, from(#ffff00), to(#bbbb03));
  background: linear-gradient(to right, #ffff00, #bbbb03);
}
.map .map-legend {
  position: absolute;
  top: 15px;
  left: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-height: 100px;
  flex-wrap: wrap;
  gap: 5px 10px;
  pointer-events: none;
}
.map .map-legend .map-legend-row {
  display: -webkit-box;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
          align-items: center;
}
.map .map-legend .btn-alarm {
  position: initial;
  width: 20px;
  height: 20px;
}
.map .map-legend .fire {
  position: initial;
  width: 20px;
  height: 20px;
}
.map .map-legend .door {
  position: initial;
  width: 20px;
  height: 20px;
}
.map .map-container {
  width: 1024px;
  height: 1024px;
  position: relative;
}
.map .map-container .item .progress {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  top: -15px;
  background: #c1c1c1;
  border-radius: 5px;
  overflow: hidden;
}
.map .map-container .item .fill {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
}
.map .map-container .selector {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  padding: 5px;
  border-radius: 9px;
  color: rgba(52, 52, 52, 0.7);
}
.map .map-container .selector li {
  background: -webkit-gradient(linear, left bottom, left top, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to top, #C2C2C2, #f8f8f8);
  padding: 20px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
}
.map .map-container .selector li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.map .map-container .selector li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cls-1 {
  fill: #be1823;
  stroke: #1e1e1c;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.cls-2 {
  fill: #1e1e1c;
}

.cls-3 {
  fill: #f5a61a;
}

.cls-4 {
  fill: #fff;
}
.input-label {
  font-weight: 100;
  color: #7b7b7b;
  font-size: 11px;
  margin-bottom: 5px;
  margin-left: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  gap: 10px;
}
.input-label .sub-label {
  font-size: 10px;
  color: rgba(33, 33, 33, 0.5);
}
.fx-playlist {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.fx-playlist > div {
  -webkit-box-flex: 2;
          flex: 2 0 50%;
  margin: 0;
}
.fx-playlist > div.mini-btn {
  -webkit-box-pack: start !important;
          justify-content: start !important;
  overflow: hidden;
  white-space: nowrap;
}
.fx-playlist > div.mini-btn > svg {
  -webkit-box-flex: 0;
          flex: 0 0 28px;
}
.label-owner {
  padding: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 4px;
}
.label-owner .label {
  padding: 2px 5px;
  background: white;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
}
body.confirm-alert-body-lock {
  overflow: hidden;
}

.confirm-alert {
  position: absolute;
}

.confirm-alert-blur {
  -webkit-filter: url(#gaussian-blur);
          filter: url(#gaussian-blur);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(30, 31, 28, 0.3);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  opacity: 1;
}

.confirm-alert-body {
  font-family: "Roboto";
  width: 400px;
  padding: 20px;
  text-align: left;
  background: #fff;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  position: relative;
}
.confirm-alert-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -7px;
  width: 7px;
  background-color: #f44336;
}
.confirm-alert-body > h1 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 22px;
}
.confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.confirm-alert-content {
  border-top: 1px solid #f44336;
  padding: 15px 0;
}

.confirm-alert-button-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}
.confirm-alert-button-group .btn {
  margin-right: 15px;
}
.bloc {
  margin: 10px 0;
}
.bloc .bloc-title {
  text-transform: uppercase;
  color: #333333;
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}
.bloc .bloc-owner {
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 10px;
}
.bloc .bloc-owner .bloc-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
}
.btn-parent {
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 10px;
}

.btn {
  position: relative;
  overflow: hidden;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  outline: 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  gap: 10px;
  width: 100%;
  font-weight: 600;
}
.btn.primary {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
}
.btn.secondary {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#a00a0b), to(#e73635));
  background: linear-gradient(to right, #a00a0b, #e73635);
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 600ms linear;
          animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}
.dropdown {
  margin: 5px 0;
}
.dropdown .dropdown-preview {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-height: 32px;
  font-size: 14px;
  color: rgba(52, 52, 52, 0.7);
  border-radius: 5px;
  padding: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
}
.dropdown .dropdown-preview .dropdown-value {
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to top, #C2C2C2, #f8f8f8);
  width: 100%;
  height: 100%;
  min-height: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  font-weight: 600;
}
.dropdown .dropdown-preview svg {
  width: 10px;
  height: 10px;
}
.dropdown .dropdown-preview svg polygon {
  fill: rgba(52, 52, 52, 0.7) !important;
}
.dropdown .dropdown-preview:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown .dropdown-preview .dropdown-options {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e9ebf0;
  left: -1px;
  right: -1px;
  top: -1px;
  display: none;
  z-index: 9999;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  padding: 5px 3px;
}
.dropdown .dropdown-preview .dropdown-options.open {
  display: block;
}
.dropdown .dropdown-preview .dropdown-options .dropdown-option {
  min-height: 30px;
  padding: 5px 11px;
  font-size: 14px;
  color: rgba(52, 52, 52, 0.7);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 600;
  background: -webkit-gradient(linear, left bottom, left top, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to top, #C2C2C2, #f8f8f8);
}
.dropdown .dropdown-preview .dropdown-options .dropdown-option:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown .dropdown-preview .dropdown-options .dropdown-option:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown .dropdown-preview .dropdown-options .dropdown-option:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown .dropdown-preview .dropdown-options .dropdown-option.selected {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
}
.icon-btn {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 12px;
  -webkit-transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
}
.icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.icon-btn.primary svg {
  fill: #40c0a0 !important;
}
.icon-btn.secondary svg {
  fill: #f44336 !important;
}
.intfield .intfield-input {
  padding: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 5px;
}
.intfield .intfield-input input {
  border: none;
  border-radius: 4px;
  padding: 5px 11px;
  color: rgba(52, 52, 52, 0.7);
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
.intfield .intfield-input input:focus {
  outline: none;
}
.mini-btn {
  height: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 0 8px;
  -webkit-transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  margin-right: 4px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  color: #333;
}
.mini-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mini-btn.primary, .mini-btn.secondary {
  color: white;
}
.mini-btn.primary svg, .mini-btn.secondary svg {
  fill: white;
}
.mini-btn.primary {
  background-color: #40c0a0;
}
.mini-btn.primary:hover {
  background-color: #40c0a0 !important;
}
.mini-btn.secondary {
  background-color: #f44336;
}
.mini-btn.secondary:hover {
  background-color: #f44336 !important;
}
.mini-btn svg {
  width: auto;
  height: 75%;
  margin-right: 6px;
}
.selector {
  margin: 5px 0;
  -webkit-box-flex: 1;
          flex: 1;
}
.selector .selector-preview {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e9ebf0;
  cursor: pointer;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  width: 100%;
}
.selector .selector-preview .input-label {
  margin: 0;
  font-size: 14px;
  text-align: center;
  display: block;
}
.selector .selector-preview.on {
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
}
.selector .selector-preview.on .input-label {
  color: white;
}
.slider {
  position: relative;
  /*
  &::before {
      pointer-events: none;
      content: attr(data-text);
      position: absolute;

      padding: 5px 10px;
      border-radius:4px;
      background: $primary;
      color: #fff;
      text-align:center;
      font-size: 0.7rem;
      right: 50%;
      transform: translateX(50%);
      top: 25px;
  }

  &:after {
      pointer-events: none;
      content: "";
      position:absolute;

      border:5px solid $primary;
      border-color: transparent transparent $primary transparent;
      right: 50%;
      top: 15px;
      transform: translateX(50%);
  }
  */
  /*
  .slider-input::-webkit-slider-runnable-track {
      height: 12px;
      -webkit-appearance: none;
      color: #13bba4;
    }

  .slider-input::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background: $primary;
      cursor: pointer;
  }
  */
}
.slider .slider-border {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
  border-radius: 10px;
  height: 18px;
}
.slider .slider-input {
  -webkit-appearance: none;
  width: calc(100% - 6px);
  background: #ffffff00;
  outline: none;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
}
.slider .slider-bg {
  pointer-events: none;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.slider .slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to top, #8ae700, #33bb02);
  border-radius: 10px;
}
.slider .slider-thumb {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  background: -webkit-gradient(linear, left bottom, left top, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to top, #C2C2C2, #f8f8f8);
}
.slider .slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff0;
  cursor: pointer;
}
.sk-fading-circle {
  width: 20px;
  height: 20px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #40c0a0;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.textfield input {
  border: 1px solid #e9ebf0;
  border-radius: 4px;
  padding: 5px 11px;
  color: rgba(52, 52, 52, 0.7);
  font-size: 14px;
  width: 100%;
}
.textfield input:focus {
  outline: none;
}
.toggle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.toggle .input-label {
  margin: 0;
}
.toggle .toggle-preview {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #e9ebf0;
  cursor: pointer;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#C2C2C2), to(#f8f8f8));
  background: linear-gradient(to bottom, #C2C2C2, #f8f8f8);
}
.toggle .toggle-preview::after {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 4px;
}
.toggle .toggle-preview.on::after {
  background: -webkit-gradient(linear, left top, right top, from(#8ae700), to(#33bb02));
  background: linear-gradient(to right, #8ae700, #33bb02);
}